[Desktop Entry]
Name=HannahFiles
GenericName=hannahfiles
Comment=fancy and modern terminal file manager
Type=Application
MimeType=inode/directory
Icon=hannahfiles
Terminal=true
TryExec=hannahfiles
Exec=hannahfiles %u
Categories=Utility;System;FileTools;FileManager;Filesystem;ConsoleOnly
Keywords=File;Manager;Explorer
